<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression Testcases" configfailurepolicy="continue">

  <listeners>
  <listener class-name="gudsho.numadic.analyzer.MyTransformer"/>
  </listeners>
    
  <test thread-count="5" name="Test" >
  <parameter name="browser" value="chrome"></parameter>
    
    <classes>
      <class name="gudsho.numadic.runner.TestRunner"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

